<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@android:color/transparent"
    android:weightSum="1.0">
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="121.9dp"
        android:id="@+id/linearLayout1"
        android:layout_weight="0.1"
        android:layout_marginBottom="0.0dp">
        <TextView
            android:text="Place a barcode in the camera viewfinder to scan it.  Barcode will scan Automatically."
            android:layout_width="wrap_content"
            android:layout_height="74.5dp"
            android:id="@+id/textView1"
            android:gravity="center"
            android:layout_weight="0"
            android:layout_marginRight="20dp"
            android:textSize="12sp"
            android:layout_marginLeft="5dp"
            android:background="@android:color/transparent"
            android:textColor="#ffffffff"
            android:layout_marginBottom="24.2dp"
            android:layout_marginTop="26.2dp" />
    </LinearLayout>
    <TextView
        android:layout_width="fill_parent"
        android:layout_height="155.6dp"
        android:id="@+id/textView2"
        android:layout_weight="0.8"
        android:layout_marginTop="3.1dp"
        android:layout_marginBottom="2.9dp" />
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="fill_parent"
        android:layout_height="152.3dp"
        android:id="@+id/linearLayout2"
        android:layout_weight="0.1"
        android:layout_gravity="center">
        <Button
            android:text="Flash On"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@+id/buttonZxingFlash"
            android:layout_marginLeft="20dp"
            android:layout_marginRight="20dp"
            android:layout_gravity="bottom"
            android:layout_marginBottom="20dp"
            android:layout_marginTop="59.4dp" />
    </LinearLayout>
</LinearLayout>